<div class="span9">
    <h4>Profile Details </h4>
    <div class="span6" style="margin: 0px;">
		<table class="table table-striped">
	        <tbody>
	          <tr>
	            <td><b>Username:</b></td>
	            <td><span ng-bind="profileCtrl.user.username"></span></td>
	          </tr>
	          <tr>
	            <td><b>Name:</b></td>
	            <td><span ng-bind="profileCtrl.user.firstName"></span></td>
	          </tr>
	          <tr>
	            <td><b>Surname:</b></td>
	            <td><span ng-bind="profileCtrl.user.lastName"></span></td>
	          </tr>
	          <tr>
	            <td><b>Registration date:</b></td>
	            <td><span ng-bind="profileCtrl.user.registrationDate | date: 'dd.MM.yyyy'"></span></td>
	          </tr>
	          <tr>
	            <td><b>Address:</b></td>
	            <td><span ng-bind="profileCtrl.user.userProfile.address"></span></td>
	          </tr>
	          <tr>
	            <td><b>Bonus points:</b></td>
	            <td><span ng-bind="profileCtrl.user.userProfile.bonusPoints"></span></td>
	          </tr>
	          <tr>
	            <td><b>Your category:</b></td>
	            <td><span ng-bind="profileCtrl.user.userProfile.customerCategory"></span></td>
	          </tr>
	        </tbody>
		</table>
	</div>
</div>