<div class="span9">
    <h4>Profile Details </h4>
    <div class="span6" style="margin: 0px;">
		<table class="table table-striped">
	        <tbody>
	          <tr>
	            <td><b>Username:</b></td>
	            <td>@mdo</td>
	          </tr>
	          <tr>
	            <td><b>Name:</b></td>
	            <td>@fat</td>
	          </tr>
	          <tr>
	            <td><b>Surname:</b></td>
	            <td>@twitter</td>
	          </tr>
	          <tr>
	            <td><b>Registration date:</b></td>
	            <td>@twitter</td>
	          </tr>
	          <tr>
	            <td><b>Address:</b></td>
	            <td>@twitter</td>
	          </tr>
	          <tr>
	            <td><b>Bonus points:</b></td>
	            <td>@twitter</td>
	          </tr>
	          <tr>
	            <td><b>Your category:</b></td>
	            <td>@twitter</td>
	          </tr>
	        </tbody>
		</table>
	</div>
</div>