<div class="span9">
    <h4>Latest Products </h4>
    <ul class="thumbnails">
    	<li class="span3" ng-repeat="product in searchCtrl.products">
            <div class="thumbnail">
                <a href=""><img src="../images/def.png" alt=""/></a>
                <div class="caption">
                    <h5>{{product.name}}</h5>
                    <p>
                        {{product.productCategory.name}}
                    </p>
                    <h4 style="text-align:center">
                    	<a class="btn" ng-href="/#/product_details/{{product.id}}"> <i class="icon-zoom-in"></i></a> 
                    	<a ng-controller="CartController as cartCtrl" class="btn" ng-click="cartCtrl.addToCart(product.id)">Add to <i class="icon-shopping-cart"></i></a> 
                    	<a class="btn btn-primary" ng-href="/#/product_details/{{product.id}}">{{product.price | currency: '$'}}</a>
                    </h4>
                </div>
            </div>
        </li>
    </ul>
</div>